In [9]:
using Pkg, CSV, DataFrames, Statistics, OnlineStats, StatsBase, Plots, Distributions, StatsPlots, GLM, MLBase, StatsBase, StatsModels

In [10]:
cd("/Users/ning/Data/Dropbox/Working_Directory/Tex_MD/Teaching/tutorial/6002/W1/2021S2")

In [11]:
df = CSV.read("SLEEP75.csv", DataFrame);

In [12]:
names(df)

34-element Vector{String}:
 "age"
 "black"
 "case"
 "clerical"
 "construc"
 "educ"
 "earns74"
 "gdhlth"
 "inlf"
 "leis1"
 "leis2"
 "leis3"
 "smsa"
 ⋮
 "south"
 "spsepay"
 "spwrk75"
 "totwrk"
 "union"
 "worknrm"
 "workscnd"
 "exper"
 "yngkid"
 "yrsmarr"
 "hrwage"
 "agesq"

In [13]:
describe(df)

34×7 DataFrame
 Row │ variable  mean          min         median      max          nmissing   ⋯
     │ Symbol    Float64       Real        Float64     Real         Int64      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ age         38.8159       23          36.0         65               0   ⋯
   2 │ black        0.0495751     0           0.0          1               0
   3 │ case       353.5           1         353.5        706               0
   4 │ clerical     0.182331      0.0         0.0          1.0             0
   5 │ construc     0.0300751     0.0         0.0          1.0             0   ⋯
   6 │ educ        12.7805        1          12.0         17               0
   7 │ earns74   9767.71          0        8250.0      42500               0
   8 │ gdhlth       0.890935      0           1.0          1               0
   9 │ inlf         0.753541      0           1.0          1               0   ⋯
  10 │ leis1     4690.72       1745        4620.0       7417               0
  11 │ leis2     4574.0        1677        4519.0       7297               0
  ⋮  │    ⋮           ⋮            ⋮           ⋮            ⋮          ⋮       ⋱
  25 │ spwrk75      0.48017       0           0.0          1               0
  26 │ totwrk    2122.92          0        2288.0       6415               0   ⋯
  27 │ union        0.21813       0           0.0          1               0
  28 │ worknrm   2093.25          0        2275.0       6415               0
  29 │ workscnd    29.6686        0           0.0       1337               0
  30 │ exper       20.0354        0          17.0         55               0   ⋯
  31 │ yngkid       0.128895      0           0.0          1               0
  32 │ yrsmarr     11.7691        0           9.0         43               0
  33 │ hrwage       5.08284       0.35        4.38        35.51          174
  34 │ agesq     1635.14        529        1296.0       4225               0   ⋯
                                                    1 column and 13 rows omitted

In [14]:
first(df, 4)

4×34 DataFrame
 Row │ age    black  case   clerical  construc  educ   earns74  gdhlth  inlf   ⋯
     │ Int64  Int64  Int64  Float64   Float64   Int64  Int64    Int64   Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    32      0      1       0.0       0.0     12        0       0      1  ⋯
   2 │    31      0      2       0.0       0.0     14     9500       1      1
   3 │    44      0      3       0.0       0.0     17    42500       1      1
   4 │    30      0      4       0.0       0.0     12    42500       1      1
                                                              25 columns omitted

In [15]:
last(df, 4)

4×34 DataFrame
 Row │ age    black  case   clerical  construc  educ   earns74  gdhlth  inlf   ⋯
     │ Int64  Int64  Int64  Float64   Float64   Int64  Int64    Int64   Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    34      0    703  0.182331  0.030075     10     2500       0      0  ⋯
   2 │    37      0    704  0.182331  0.030075     12     3500       1      0
   3 │    54      0    705  0.182331  0.030075     17    32500       1      0
   4 │    30      0    706  0.182331  0.030075     16     6750       1      0
                                                              25 columns omitted

In [16]:
fm0 = @formula(sleep ~ 1 + totwrk + educ + age)
OLS_model = lm(fm0, df)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}}}}, Matrix{Float64}}

sleep ~ 1 + totwrk + educ + age

Coefficients:
────────────────────────────────────────────────────────────────────────────────
                   Coef.   Std. Error      t  Pr(>|t|)    Lower 95%    Upper 95%
────────────────────────────────────────────────────────────────────────────────
(Intercept)  3638.25      112.275      32.40    <1e-99  3417.81      3858.68
totwrk         -0.148373    0.0166935  -8.89    <1e-17    -0.181149    -0.115598
educ          -11.1338      5.88457    -1.89    0.0589   -22.6873       0.419661
age             2.19988     1.44572     1.52    0.1285    -0.638561     5.03833
────────────────────────────────────────────────────────────────────────────────

In [17]:
r2(OLS_model)

0.11336395596679805

In [18]:
adjr2(OLS_model)

0.10957491304357914