In [1]:
using Pkg, CSV, DataFrames, Statistics, OnlineStats, StatsBase, Plots, Distributions, StatsPlots, GLM, MLBase, StatsBase, StatsModels

# Question 2

# step 1: change directory and load data

In [2]:
cd("/Users/ning/Dropbox/Working_Directory/Tex_MD/Teaching/tutorial/6002/W2/2021S2")

In [3]:
df = dropmissing(CSV.read("econmath.csv", DataFrame));

# step 2: find the summary statistics for "actmth", "acteng" and "score"

In [11]:
first(df, 5)

5×17 DataFrame
 Row │ age    work     study    econhs  colgpa   hsgpa    acteng  actmth  act  ⋯
     │ Int64  Float64  Float64  Int64   Float64  Float64  Int64   Int64   Int6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    23     15.0     10.0       0   3.4909    3.355      24      26     2 ⋯
   2 │    23      0.0     22.5       1   2.1       3.219      23      20     2
   3 │    21     25.0     12.0       0   3.0851    3.306      21      24     2
   4 │    22     30.0     40.0       0   2.6805    3.977      31      28     3
   5 │    22     25.0     15.0       1   3.7454    3.89       28      31     3 ⋯
                                                               9 columns omitted

In [4]:
names(df)

17-element Vector{String}:
 "age"
 "work"
 "study"
 "econhs"
 "colgpa"
 "hsgpa"
 "acteng"
 "actmth"
 "act"
 "mathscr"
 "male"
 "calculus"
 "attexc"
 "attgood"
 "fathcoll"
 "mothcoll"
 "score"

In [5]:
describe(df[:, [:actmth, :acteng, :score]])

3×7 DataFrame
 Row │ variable  mean     min    median   max    nmissing  eltype
     │ Symbol    Float64  Real   Float64  Real   Int64     DataType
─────┼──────────────────────────────────────────────────────────────
   1 │ actmth    23.2113  12       23.0   36            0  Int64
   2 │ acteng    22.5946  12       23.0   34            0  Int64
   3 │ score     72.6087  20.31    74.22  98.44         0  Float64

# step 3: regression result of  $score = \beta_0 + \beta_1 \cdot colgpa + \beta_2 \cdot actmth + \beta_3 \cdot acteng + u$

In [7]:
fm0 = @formula(score ~ 1 + colgpa + actmth + acteng)
OLS_model = lm(fm0, df)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}}}}, Matrix{Float64}}

score ~ 1 + colgpa + actmth + acteng

Coefficients:
─────────────────────────────────────────────────────────────────────────
                 Coef.  Std. Error      t  Pr(>|t|)  Lower 95%  Upper 95%
─────────────────────────────────────────────────────────────────────────
(Intercept)  16.174       2.80044    5.78    <1e-07  10.677      21.671
colgpa       12.3662      0.715062  17.29    <1e-56  10.9626     13.7698
actmth        0.883352    0.112198   7.87    <1e-13   0.663118    1.10359
acteng        0.051764    0.111063   0.47    0.6413  -0.166241    0.26977
─────────────────────────────────────────────────────────────────────────

In [8]:
r2(OLS_model)

0.39723479304927745

# standard each variable and redo regression

In [9]:
df1 = dropmissing(select(df, [:actmth, :acteng, :score, :colgpa]));

df1[!,:actmth] = (df1[!, :actmth] .- mean(df1[!, :actmth])) ./ std(df1[!, :actmth]);
df1[!,:acteng] = (df1[!, :acteng] .- mean(df1[!, :acteng])) ./ std(df1[!, :acteng]);
df1[!,:colgpa] = (df1[!, :colgpa] .- mean(df1[!, :colgpa])) ./ std(df1[!, :colgpa]);
df1[!,:score] = (df1[!, :score] .- mean(df1[!, :score])) ./ std(df1[!, :score]);

In [10]:
first(df1, 5)

5×4 DataFrame
 Row │ actmth     acteng     score      colgpa
     │ Float64    Float64    Float64    Float64
─────┼────────────────────────────────────────────
   1 │  0.73905    0.370943   0.888517   1.26096
   2 │ -0.851047   0.107003  -1.14463   -1.31864
   3 │  0.209018  -0.420878  -0.467416   0.508354
   4 │  1.26908    2.21853    0.641984  -0.242027
   5 │  2.06413    1.4267     1.75063    1.73296

In [12]:
OLS_model = lm(fm0, df1)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}}}}, Matrix{Float64}}

score ~ 1 + colgpa + actmth + acteng

Coefficients:
────────────────────────────────────────────────────────────────────────────
                   Coef.  Std. Error      t  Pr(>|t|)   Lower 95%  Upper 95%
────────────────────────────────────────────────────────────────────────────
(Intercept)  2.44606e-16   0.0272624   0.00    1.0000  -0.0535134  0.0535134
colgpa       0.501166      0.0289794  17.29    <1e-56   0.444283   0.55805
actmth       0.250532      0.0318211   7.87    <1e-13   0.18807    0.312993
acteng       0.0147409     0.0316276   0.47    0.6413  -0.0473408  0.0768225
────────────────────────────────────────────────────────────────────────────

In [13]:
r2(OLS_model)

0.39723479304927733

# Question 3

In [14]:
df1 = dropmissing(CSV.read("hprice1.csv", DataFrame));

In [15]:
names(df1)

10-element Vector{String}:
 "price"
 "assess"
 "bdrms"
 "lotsize"
 "sqrft"
 "colonial"
 "lprice"
 "lassess"
 "llotsize"
 "lsqrft"

# step 1: summary statistics

In [16]:
describe(df1[:, [:price, :sqrft, :bdrms]])

3×7 DataFrame
 Row │ variable  mean        min     median   max     nmissing  eltype
     │ Symbol    Float64     Real    Float64  Real    Int64     DataType
─────┼───────────────────────────────────────────────────────────────────
   1 │ price      293.546     111.0    265.5   725.0         0  Float64
   2 │ sqrft     2013.69     1171     1845.0  3880           0  Int64
   3 │ bdrms        3.56818     2        3.0     7           0  Int64

# step 2: regression

In [17]:
fm1 = @formula(price ~ 1 + sqrft + bdrms)
OLS_model1 = lm(fm1, df1)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}}}}, Matrix{Float64}}

price ~ 1 + sqrft + bdrms

Coefficients:
───────────────────────────────────────────────────────────────────────────
                  Coef.  Std. Error      t  Pr(>|t|)   Lower 95%  Upper 95%
───────────────────────────────────────────────────────────────────────────
(Intercept)  -19.315     31.0466     -0.62    0.5355  -81.044     42.414
sqrft          0.128436   0.0138245   9.29    <1e-13    0.100949   0.155923
bdrms         15.1982     9.48352     1.60    0.1127   -3.65758   34.054
───────────────────────────────────────────────────────────────────────────

# standardized regression

In [18]:
df1[!,:price] = (df1[!, :price] .- mean(df1[!, :price])) ./ std(df1[!, :price]);
df1[!,:sqrft] = (df1[!, :sqrft] .- mean(df1[!, :sqrft])) ./ std(df1[!, :sqrft]);
df1[!,:bdrms] = (df1[!, :bdrms] .- mean(df1[!, :bdrms])) ./ std(df1[!, :bdrms]);

In [19]:
OLS_model2 = lm(fm1, df1)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}}}}, Matrix{Float64}}

price ~ 1 + sqrft + bdrms

Coefficients:
───────────────────────────────────────────────────────────────────────────
                   Coef.  Std. Error     t  Pr(>|t|)   Lower 95%  Upper 95%
───────────────────────────────────────────────────────────────────────────
(Intercept)  1.05753e-16   0.0654306  0.00    1.0000  -0.130094    0.130094
sqrft        0.721739      0.0776857  9.29    <1e-13   0.567279    0.876199
bdrms        0.124498      0.0776857  1.60    0.1127  -0.0299616   0.278958
───────────────────────────────────────────────────────────────────────────

# step 3: prediction on an "imaginary" observation

In [20]:
df2 = DataFrame(price = 300, sqrft = 2438, bdrms=4)

1×3 DataFrame
 Row │ price  sqrft  bdrms
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │   300   2438      4

In [21]:
df2[:,:yhat] = predict(OLS_model1, df2)

1-element Vector{Union{Missing, Float64}}:
 354.6052488843119

# step 4: compute the prediction error

In [22]:
df2[:,:ehat] = df2[:,:price] .- df2[:,:yhat]

1-element Vector{Float64}:
 -54.60524888431189