In [3]:
#clear your memory
rm(list = ls())

# install all packages

In [23]:
#update packages
update.packages(ask = FALSE)

#make sure all packages are installed
ipak <- function(pkg){
  new.pkg <- pkg[!(pkg %in% installed.packages()[, "Package"])]
  if (length(new.pkg))
    install.packages(new.pkg, dependencies = TRUE)
  sapply(pkg, require, character.only = TRUE)
}

packages <- c('readr','dplyr', 'car', 'Hmisc', 'stargazer')

ipak(packages)

Loading required package: stargazer


Please cite as:


 Hlavac, Marek (2018). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.2. https://CRAN.R-project.org/package=stargazer

    readr     dplyr       car     Hmisc stargazer
     TRUE      TRUE      TRUE      TRUE      TRUE

# load packages

In [24]:
library(readr)
library(dplyr)
library(car)
library(Hmisc)
library(stargazer)

# load data

In [6]:
data <- read_csv("KIELMC.csv")

Rows: 321 Columns: 25

-- Column specification --------------------------------------------------------
Delimiter: ","
dbl (25): year, age, agesq, nbh, cbd, intst, lintst, price, rooms, area, lan...


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

# check the head of your table

In [7]:
head(data)

  year age agesq nbh cbd  intst lintst price rooms area <U+22EF>        lprice   y81
1 1978 48  2304  4   3000 1000  6.9078 60000 7     1660 <U+22EF> 11.00210 0
2 1978 83  6889  4   4000 1000  6.9078 40000 6     2612 <U+22EF> 10.59663 0
3 1978 58  3364  4   4000 1000  6.9078 34000 6     1144 <U+22EF> 10.43412 0
4 1978 11   121  4   4000 1000  6.9078 63900 5     1136 <U+22EF> 11.06508 0
5 1978 48  2304  4   4000 2000  7.6009 44000 5     1868 <U+22EF> 10.69195 0
6 1978 78  6084  4   3000 2000  7.6009 46000 6     1780 <U+22EF> 10.73640 0
  larea    lland    y81ldist lintstsq nearinc y81nrinc rprice lrprice
1 7.414573 8.429017 0        47.71771 1       0        60000  11.00210
2 7.867871 9.032409 0        47.71771 1       0        40000  10.59663
3 7.042286 8.517193 0        47.71771 1       0        34000  10.43412
4 7.035269 9.210340 0        47.71771 1       0        63900  11.06508
5 7.532624 9.210340 0        57.77368 1       0        44000  10.69195
6 7.484369 9.159047 0        57.77368 1       0        46000  10.73640

# compute summary statistics

In [8]:
summary(data)

      year           age             agesq            nbh
 Min.   :1978   Min.   :  0.00   Min.   :    0   Min.   :0.000
 1st Qu.:1978   1st Qu.:  0.00   1st Qu.:    0   1st Qu.:0.000
 Median :1978   Median :  4.00   Median :   16   Median :2.000
 Mean   :1979   Mean   : 18.01   Mean   : 1382   Mean   :2.209
 3rd Qu.:1981   3rd Qu.: 22.00   3rd Qu.:  484   3rd Qu.:4.000
 Max.   :1981   Max.   :189.00   Max.   :35721   Max.   :6.000
      cbd            intst           lintst           price
 Min.   : 1000   Min.   : 1000   Min.   : 6.908   Min.   : 26000
 1st Qu.: 9000   1st Qu.: 9000   1st Qu.: 9.105   1st Qu.: 65000
 Median :14000   Median :16000   Median : 9.680   Median : 85900
 Mean   :15822   Mean   :16442   Mean   : 9.481   Mean   : 96101
 3rd Qu.:23000   3rd Qu.:24000   3rd Qu.:10.086   3rd Qu.:120000
 Max.   :35000   Max.   :34000   Max.   :10.434   Max.   :300000
     rooms             area           land            baths
 Min.   : 4.000   Min.   : 735   Min.   :  1710   Min.   :1.00
 1st Qu.: 6.000   1st Qu.:1560   1st Qu.: 16935   1st Qu.:2.00
 Median : 7.000   Median :2056   Median : 43560   Median :2.00
 Mean   : 6.586   Mean   :2107   Mean   : 39630   Mean   :2.34
 3rd Qu.: 7.000   3rd Qu.:2544   3rd Qu.: 46100   3rd Qu.:3.00
 Max.   :10.000   Max.   :5136   Max.   :544500   Max.   :4.00
      dist           ldist             wind            lprice
 Min.   : 5000   Min.   : 8.517   Min.   : 3.000   Min.   :10.17
 1st Qu.:13400   1st Qu.: 9.503   1st Qu.: 5.000   1st Qu.:11.08
 Median :19900   Median : 9.898   Median : 7.000   Median :11.36
 Mean   :20716   Mean   : 9.837   Mean   : 6.978   Mean   :11.38
 3rd Qu.:27200   3rd Qu.:10.211   3rd Qu.:11.000   3rd Qu.:11.70
 Max.   :40000   Max.   :10.597   Max.   :11.000   Max.   :12.61
      y81             larea           lland           y81ldist
 Min.   :0.0000   Min.   :6.600   Min.   : 7.444   Min.   : 0.000
 1st Qu.:0.0000   1st Qu.:7.352   1st Qu.: 9.737   1st Qu.: 0.000
 Median :0.0000   Median :7.629   Median :10.682   Median : 0.000
 Mean   :0.4424   Mean   :7.597   Mean   :10.302   Mean   : 4.343
 3rd Qu.:1.0000   3rd Qu.:7.841   3rd Qu.:10.739   3rd Qu.: 9.820
 Max.   :1.0000   Max.   :8.544   Max.   :13.208   Max.   :10.569
    lintstsq         nearinc          y81nrinc          rprice
 Min.   : 47.72   Min.   :0.0000   Min.   :0.0000   Min.   : 26000
 1st Qu.: 82.90   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.: 59000
 Median : 93.71   Median :0.0000   Median :0.0000   Median : 82000
 Mean   : 90.48   Mean   :0.2991   Mean   :0.1246   Mean   : 83721
 3rd Qu.:101.73   3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.:100230
 Max.   :108.87   Max.   :1.0000   Max.   :1.0000   Max.   :300000
    lrprice
 Min.   :10.17
 1st Qu.:10.99
 Median :11.31
 Mean   :11.26
 3rd Qu.:11.52
 Max.   :12.61

# (c)

In [10]:
M1_c = lm(lrprice ~ y81 + nearinc + y81nrinc, data=data)

summary(M1_c)

Call:
lm(formula = lrprice ~ y81 + nearinc + y81nrinc, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.11957 -0.20328  0.02226  0.18909  1.66604

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 11.28542    0.03051 369.839  < 2e-16 ***
y81          0.19309    0.04532   4.261 2.69e-05 ***
nearinc     -0.33992    0.05456  -6.231 1.48e-09 ***
y81nrinc    -0.06265    0.08344  -0.751    0.453
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.3384 on 317 degrees of freedom
Multiple R-squared:  0.246,	Adjusted R-squared:  0.2388
F-statistic: 34.47 on 3 and 317 DF,  p-value: < 2.2e-16

In [34]:
stargazer(M1_c,
  header=FALSE, 
  type="text",  
  digits=4, 
  intercept.bottom=TRUE, 
  dep.var.caption="Dependent variable: lwage",
  model.names=FALSE,
  omit.stat=c("LL","ser","f"))

========================================
              Dependent variable: lwage
             ---------------------------
                       lrprice
----------------------------------------
y81                   0.1931***
                      (0.0453)

nearinc              -0.3399***
                      (0.0546)

y81nrinc               -0.0626
                      (0.0834)

Constant             11.2854***
                      (0.0305)

----------------------------------------
Observations             321
R2                     0.2460
Adjusted R2            0.2388
========================================
Note:        *p<0.1; **p<0.05; ***p<0.01

# AIC of this model

In [13]:
AIC(M1_c)

[1] 221.3505

# BIC of this model

In [14]:
BIC(M1_c)

[1] 240.2077

# (e)

In [31]:
M1_e = lm(lprice ~ y81 + ldist + y81ldist, data=data)

summary(M1_e)

Call:
lm(formula = lprice ~ y81 + ldist + y81ldist, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.01930 -0.20807  0.00539  0.21128  1.49747

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  8.05847    0.50844  15.850  < 2e-16 ***
y81         -0.01131    0.80506  -0.014    0.989
ldist        0.31669    0.05153   6.145 2.39e-09 ***
y81ldist     0.04819    0.08179   0.589    0.556
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.3422 on 317 degrees of freedom
Multiple R-squared:  0.3958,	Adjusted R-squared:  0.3901
F-statistic: 69.22 on 3 and 317 DF,  p-value: < 2.2e-16

In [33]:
stargazer(M1_e,
  header=FALSE, 
  type="text",  
  digits=4, 
  intercept.bottom=TRUE, 
  dep.var.caption="Dependent variable: lwage",
  model.names=FALSE,
  omit.stat=c("LL","ser","f"))

========================================
              Dependent variable: lwage
             ---------------------------
                       lprice
----------------------------------------
y81                    -0.0113
                      (0.8051)

ldist                 0.3167***
                      (0.0515)

y81ldist               0.0482
                      (0.0818)

Constant              8.0585***
                      (0.5084)

----------------------------------------
Observations             321
R2                     0.3958
Adjusted R2            0.3901
========================================
Note:        *p<0.1; **p<0.05; ***p<0.01

# AIC of this model

In [18]:
AIC(M1_e)

[1] 228.485

# BIC of this model

In [19]:
BIC(M1_e)

[1] 247.3422

# (f)

In [20]:
M1_f = lm(lprice ~  y81 + ldist + y81ldist + age + agesq + rooms + baths + lintst + lland + larea, data=data)

summary(M1_f)

Call:
lm(formula = lprice ~ y81 + ldist + y81ldist + age + agesq +
    rooms + baths + lintst + lland + larea, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.19636 -0.09957  0.01064  0.11414  0.78094

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  7.674e+00  5.016e-01  15.300  < 2e-16 ***
y81         -2.254e-01  4.947e-01  -0.456 0.648902
ldist        9.226e-04  4.462e-02   0.021 0.983516
y81ldist     6.247e-02  5.028e-02   1.242 0.215025
age         -8.007e-03  1.417e-03  -5.650 3.64e-08 ***
agesq        3.570e-05  8.708e-06   4.099 5.29e-05 ***
rooms        4.614e-02  1.734e-02   2.660 0.008216 **
baths        1.010e-01  2.782e-02   3.632 0.000329 ***
lintst      -5.998e-02  3.172e-02  -1.891 0.059599 .
lland        9.534e-02  2.473e-02   3.856 0.000140 ***
larea        3.507e-01  5.195e-02   6.752 7.20e-11 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.2055 on 310 degrees of freedom
Multiple R-squared:  0.787,	Adjusted R-squared:  0.7802
F-statistic: 114.6 on 10 and 310 DF,  p-value: < 2.2e-16

In [35]:
stargazer(M1_f,
  header=FALSE, 
  type="text",  
  digits=4, 
  intercept.bottom=TRUE, 
  dep.var.caption="Dependent variable: lwage",
  model.names=FALSE,
  omit.stat=c("LL","ser","f"))

========================================
              Dependent variable: lwage
             ---------------------------
                       lprice
----------------------------------------
y81                    -0.2254
                      (0.4947)

ldist                  0.0009
                      (0.0446)

y81ldist               0.0625
                      (0.0503)

age                  -0.0080***
                      (0.0014)

agesq                0.00004***
                      (0.00001)

rooms                 0.0461***
                      (0.0173)

baths                 0.1010***
                      (0.0278)

lintst                -0.0600*
                      (0.0317)

lland                 0.0953***
                      (0.0247)

larea                 0.3507***
                      (0.0519)

Constant              7.6739***
                      (0.5016)

----------------------------------------
Observations             321
R2                     0.7870
Adjusted R2            0.7802
========================================
Note:        *p<0.1; **p<0.05; ***p<0.01

# AIC of this model

In [21]:
AIC(M1_f)

[1] -92.22779

# BIC of this model

In [22]:
BIC(M1_f)

[1] -46.97049

# compare models

In [37]:
stargazer(M1_e, M1_f,
  header=FALSE, 
  type="text",  
  digits=4, 
  intercept.bottom=TRUE, 
  dep.var.caption="Dependent variable: lwage",
  model.names=FALSE,
  omit.stat=c("LL","ser","f"))

=========================================
              Dependent variable: lwage
             ----------------------------
                        lprice
                  (1)            (2)
-----------------------------------------
y81             -0.0113        -0.2254
                (0.8051)      (0.4947)

ldist          0.3167***       0.0009
                (0.0515)      (0.0446)

y81ldist         0.0482        0.0625
                (0.0818)      (0.0503)

age                          -0.0080***
                              (0.0014)

agesq                        0.00004***
                              (0.00001)

rooms                         0.0461***
                              (0.0173)

baths                         0.1010***
                              (0.0278)

lintst                        -0.0600*
                              (0.0317)

lland                         0.0953***
                              (0.0247)

larea                         0.3507***
                              (0.0519)

Constant       8.0585***      7.6739***
                (0.5084)      (0.5016)

-----------------------------------------
Observations      321            321
R2               0.3958        0.7870
Adjusted R2      0.3901        0.7802
=========================================
Note:         *p<0.1; **p<0.05; ***p<0.01