## install AER and stargazer

In [1]:
#clear your memory
rm(list = ls())

#update packages
update.packages(ask = FALSE)

ipak <- function(pkg){
  new.pkg <- pkg[!(pkg %in% installed.packages()[, "Package"])]
  if (length(new.pkg))
    install.packages(new.pkg, dependencies = TRUE)
  sapply(pkg, require, character.only = TRUE)
}

packages <- c('AER','stargazer')

ipak(packages)

Loading required package: AER

Loading required package: car

Loading required package: carData

Loading required package: lmtest

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: sandwich

Loading required package: survival

Loading required package: stargazer


Please cite as:


 Hlavac, Marek (2018). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.2. https://CRAN.R-project.org/package=stargazer

      AER stargazer
     TRUE      TRUE

In [4]:
library(readr)
library(dplyr)
library(car)
library(Hmisc)
library(AER)
library(stargazer)

Attaching package: ‘dplyr’


The following object is masked from ‘package:car’:

    recode


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: lattice

Loading required package: Formula

Loading required package: ggplot2


Attaching package: ‘Hmisc’


The following objects are masked from ‘package:dplyr’:

    src, summarize


The following objects are masked from ‘package:base’:

    format.pval, units

In [5]:
data <- read_csv("CARD.csv")

── Column specification ─────────────────────────────────────────────────────────
cols(
  .default = col_double()
)
ℹ Use `spec()` for the full column specifications.

In [6]:
head(data)

  id nearc2 nearc4 educ age fatheduc motheduc weight momdad14 sinmom14 ⋯ smsa66
1 2  0      0       7   29  NA       NA       158413 1        0        ⋯ 1
2 3  0      0      12   27   8        8       380166 1        0        ⋯ 1
3 4  0      0      12   34  14       12       367470 1        0        ⋯ 1
4 5  1      1      11   27  11       12       380166 1        0        ⋯ 1
5 6  1      1      12   34   8        7       367470 1        0        ⋯ 1
6 7  1      1      12   26   9       12       380166 1        0        ⋯ 1
  wage enroll KWW IQ  married libcrd14 exper lwage    expersq
1 548  0      15   NA 1       0        16    6.306275 256
2 481  0      35   93 1       1         9    6.175867  81
3 721  0      42  103 1       1        16    6.580639 256
4 250  0      25   88 1       1        10    5.521461 100
5 729  0      34  108 1       0        16    6.591674 256
6 500  0      38   85 1       1         8    6.214608  64

In [7]:
summary(data)

       id           nearc2           nearc4            educ
 Min.   :   2   Min.   :0.0000   Min.   :0.0000   Min.   : 1.00
 1st Qu.:1276   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:12.00
 Median :2541   Median :0.0000   Median :1.0000   Median :13.00
 Mean   :2582   Mean   :0.4409   Mean   :0.6821   Mean   :13.26
 3rd Qu.:3859   3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:16.00
 Max.   :5225   Max.   :1.0000   Max.   :1.0000   Max.   :18.00

      age           fatheduc      motheduc         weight
 Min.   :24.00   Min.   : 0    Min.   : 0.00   Min.   :  75607
 1st Qu.:25.00   1st Qu.: 8    1st Qu.: 8.00   1st Qu.: 122798
 Median :28.00   Median :10    Median :12.00   Median : 365200
 Mean   :28.12   Mean   :10    Mean   :10.35   Mean   : 321185
 3rd Qu.:31.00   3rd Qu.:12    3rd Qu.:12.00   3rd Qu.: 406024
 Max.   :34.00   Max.   :18    Max.   :18.00   Max.   :1752340
                 NA's   :690   NA's   :353
    momdad14         sinmom14          step14            reg661
 Min.   :0.0000   Min.   :0.0000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:1.0000   1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :1.0000   Median :0.0000   Median :0.00000   Median :0.00000
 Mean   :0.7894   Mean   :0.1007   Mean   :0.03887   Mean   :0.04651
 3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.00000   Max.   :1.00000

     reg662           reg663           reg664            reg665
 Min.   :0.0000   Min.   :0.0000   Min.   :0.00000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.00000   Median :0.0000
 Mean   :0.1608   Mean   :0.1957   Mean   :0.06412   Mean   :0.2083
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.00000   Max.   :1.0000

     reg666            reg667         reg668            reg669
 Min.   :0.00000   Min.   :0.00   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.00   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.00000   Median :0.00   Median :0.00000   Median :0.00000
 Mean   :0.09601   Mean   :0.11   Mean   :0.02824   Mean   :0.09037
 3rd Qu.:0.00000   3rd Qu.:0.00   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.00   Max.   :1.00000   Max.   :1.00000

    south66           black             smsa           south
 Min.   :0.0000   Min.   :0.0000   Min.   :0.000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :1.000   Median :0.0000
 Mean   :0.4143   Mean   :0.2336   Mean   :0.713   Mean   :0.4037
 3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.:1.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.000   Max.   :1.0000

     smsa66            wage            enroll             KWW
 Min.   :0.0000   Min.   : 100.0   Min.   :0.00000   Min.   : 4.00
 1st Qu.:0.0000   1st Qu.: 394.2   1st Qu.:0.00000   1st Qu.:28.00
 Median :1.0000   Median : 537.5   Median :0.00000   Median :34.00
 Mean   :0.6495   Mean   : 577.3   Mean   :0.09236   Mean   :33.54
 3rd Qu.:1.0000   3rd Qu.: 708.8   3rd Qu.:0.00000   3rd Qu.:40.00
 Max.   :1.0000   Max.   :2404.0   Max.   :1.00000   Max.   :56.00
                                                     NA's   :47
       IQ           married         libcrd14          exper
 Min.   : 50.0   Min.   :1.000   Min.   :0.0000   Min.   : 0.000
 1st Qu.: 93.0   1st Qu.:1.000   1st Qu.:0.0000   1st Qu.: 6.000
 Median :103.0   Median :1.000   Median :1.0000   Median : 8.000
 Mean   :102.4   Mean   :2.271   Mean   :0.6743   Mean   : 8.856
 3rd Qu.:113.0   3rd Qu.:4.000   3rd Qu.:1.0000   3rd Qu.:11.000
 Max.   :149.0   Max.   :6.000   Max.   :1.0000   Max.   :23.000
 NA's   :949     NA's   :7       NA's   :13
     lwage          expersq
 Min.   :4.605   Min.   :  0.00
 1st Qu.:5.977   1st Qu.: 36.00
 Median :6.287   Median : 64.00
 Mean   :6.262   Mean   : 95.58
 3rd Qu.:6.564   3rd Qu.:121.00
 Max.   :7.785   Max.   :529.00

## (a)

In [9]:
M_OLS = lm(lwage ~ educ + exper + expersq + black + smsa + south, data=data)

summary(M_OLS)

Call:
lm(formula = lwage ~ educ + exper + expersq + black + smsa +
    south, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.59297 -0.22315  0.01893  0.24223  1.33190

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  4.7336643  0.0676026  70.022  < 2e-16 ***
educ         0.0740090  0.0035054  21.113  < 2e-16 ***
exper        0.0835958  0.0066478  12.575  < 2e-16 ***
expersq     -0.0022409  0.0003178  -7.050 2.21e-12 ***
black       -0.1896315  0.0176266 -10.758  < 2e-16 ***
smsa         0.1614230  0.0155733  10.365  < 2e-16 ***
south       -0.1248615  0.0151182  -8.259  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3742 on 3003 degrees of freedom
Multiple R-squared:  0.2905,	Adjusted R-squared:  0.2891
F-statistic: 204.9 on 6 and 3003 DF,  p-value: < 2.2e-16

## (b)

In [10]:
M_Proxy = lm(lwage ~ educ + exper + expersq + black + smsa + south + IQ, data=data)

summary(M_Proxy)

Call:
lm(formula = lwage ~ educ + exper + expersq + black + smsa +
    south + IQ, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.56468 -0.20592  0.01797  0.23944  1.42401

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  4.4825806  0.1035960  43.270  < 2e-16 ***
educ         0.0692646  0.0048720  14.217  < 2e-16 ***
exper        0.0935215  0.0095356   9.808  < 2e-16 ***
expersq     -0.0026762  0.0004916  -5.444 5.85e-08 ***
black       -0.1361350  0.0262767  -5.181 2.43e-07 ***
smsa         0.1533510  0.0188749   8.125 7.67e-16 ***
south       -0.0790786  0.0180092  -4.391 1.19e-05 ***
IQ           0.0025294  0.0006747   3.749 0.000183 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3683 on 2053 degrees of freedom
  (949 observations deleted due to missingness)
Multiple R-squared:  0.2257,	Adjusted R-squared:  0.2231
F-statistic: 85.49 on 7 and 2053 DF,  p-value: < 2.2e-16

## (d)

In [13]:
reg_1 = lm(IQ ~ nearc4 + smsa + south, data=data)

summary(reg_1)

Call:
lm(formula = IQ ~ nearc4 + smsa + south, data = data)

Residuals:
    Min      1Q  Median      3Q     Max
-51.174  -9.545   0.817  10.345  43.826

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 102.6549     0.8374 122.588   <2e-16 ***
nearc4        0.8902     0.7821   1.138   0.2552
smsa          1.6290     0.8034   2.028   0.0427 *
south        -5.9910     0.7177  -8.348   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 15.11 on 2057 degrees of freedom
  (949 observations deleted due to missingness)
Multiple R-squared:  0.04163,	Adjusted R-squared:  0.04023
F-statistic: 29.79 on 3 and 2057 DF,  p-value: < 2.2e-16

## (e)

In [14]:
reg_2 = lm(educ ~ nearc4 + black + smsa + south, data=data)

summary(reg_2)

Call:
lm(formula = educ ~ nearc4 + black + smsa + south, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-12.3518  -1.8056  -0.2197   1.8626   6.9598

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  12.9578     0.1146 113.045  < 2e-16 ***
nearc4        0.3318     0.1071   3.099  0.00196 **
black        -1.4638     0.1156 -12.663  < 2e-16 ***
smsa          0.8478     0.1094   7.751 1.24e-14 ***
south        -0.4538     0.1026  -4.422 1.01e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.521 on 3005 degrees of freedom
Multiple R-squared:  0.1143,	Adjusted R-squared:  0.1131
F-statistic: 96.94 on 4 and 3005 DF,  p-value: < 2.2e-16

## (f)

In [15]:
reg_3 = lm(lwage ~ educ + exper + expersq + black + smsa + south + IQ + nearc4, data=data)

summary(reg_3)

Call:
lm(formula = lwage ~ educ + exper + expersq + black + smsa +
    south + IQ + nearc4, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.56636 -0.20839  0.01802  0.24030  1.42024

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  4.4803710  0.1036758  43.215  < 2e-16 ***
educ         0.0690458  0.0048861  14.131  < 2e-16 ***
exper        0.0935021  0.0095371   9.804  < 2e-16 ***
expersq     -0.0026801  0.0004917  -5.450 5.64e-08 ***
black       -0.1366962  0.0262970  -5.198 2.21e-07 ***
smsa         0.1498893  0.0197195   7.601 4.44e-14 ***
south       -0.0773091  0.0182461  -4.237 2.37e-05 ***
IQ           0.0025251  0.0006748   3.742 0.000188 ***
nearc4       0.0116268  0.0191433   0.607 0.543681
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3683 on 2052 degrees of freedom
  (949 observations deleted due to missingness)
Multiple R-squared:  0.2258,	Adjusted R-squared:  0.2228
F-statistic: 74.83 on 8 and 2052 DF,  p-value: < 2.2e-16

## (g)

In [20]:
M_IV <- ivreg(lwage ~ exper + expersq + black + smsa + south + educ | exper + expersq + black + smsa + south + nearc4, data = data)

In [21]:
summary(M_IV)

Call:
ivreg(formula = lwage ~ exper + expersq + black + smsa + south +
    educ | exper + expersq + black + smsa + south + nearc4, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.82125 -0.24065  0.02368  0.25469  1.43205

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.7527813  0.8293409   4.525 6.27e-06 ***
exper        0.1074980  0.0213006   5.047 4.76e-07 ***
expersq     -0.0022841  0.0003341  -6.836 9.84e-12 ***
black       -0.1308019  0.0528723  -2.474  0.01342 *
smsa         0.1313237  0.0301298   4.359 1.35e-05 ***
south       -0.1049005  0.0230731  -4.546 5.67e-06 ***
educ         0.1322888  0.0492332   2.687  0.00725 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.391 on 3003 degrees of freedom
Multiple R-Squared: 0.2252,	Adjusted R-squared: 0.2237
Wald test: 120.8 on 6 and 3003 DF,  p-value: < 2.2e-16

## (h)

In [23]:
summary(M_IV, diagnostics=TRUE)

Call:
ivreg(formula = lwage ~ exper + expersq + black + smsa + south +
    educ | exper + expersq + black + smsa + south + nearc4, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.82125 -0.24065  0.02368  0.25469  1.43205

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.7527813  0.8293409   4.525 6.27e-06 ***
exper        0.1074980  0.0213006   5.047 4.76e-07 ***
expersq     -0.0022841  0.0003341  -6.836 9.84e-12 ***
black       -0.1308019  0.0528723  -2.474  0.01342 *
smsa         0.1313237  0.0301298   4.359 1.35e-05 ***
south       -0.1049005  0.0230731  -4.546 5.67e-06 ***
educ         0.1322888  0.0492332   2.687  0.00725 **

Diagnostic tests:
                  df1  df2 statistic  p-value
Weak instruments    1 3003    16.718 4.45e-05 ***
Wu-Hausman          1 3002     1.539    0.215
Sargan              0   NA        NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.391 on 3003 degrees of freedom
Multiple R-Squared: 0.2252,	Adjusted R-squared: 0.2237
Wald test: 120.8 on 6 and 3003 DF,  p-value: < 2.2e-16

## Extra : 2SLS with two instruments (nearc4 and nearc2) for educ

In [24]:
M_2SLS <- ivreg(lwage ~ exper + expersq + black + smsa + south + educ | exper + expersq + black + smsa + south + nearc4 + nearc2, data = data)

summary(M_2SLS)

Call:
ivreg(formula = lwage ~ exper + expersq + black + smsa + south +
    educ | exper + expersq + black + smsa + south + nearc4 +
    nearc2, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.93885 -0.25155  0.01739  0.27341  1.48112

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.2721021  0.8192563   3.994 6.65e-05 ***
exper        0.1192112  0.0211779   5.629 1.98e-08 ***
expersq     -0.0023052  0.0003507  -6.574 5.75e-11 ***
black       -0.1019726  0.0526187  -1.938 0.052723 .
smsa         0.1165736  0.0303135   3.846 0.000123 ***
south       -0.0951187  0.0234721  -4.052 5.20e-05 ***
educ         0.1608487  0.0486291   3.308 0.000952 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4106 on 3003 degrees of freedom
Multiple R-Squared: 0.1455,	Adjusted R-squared: 0.1438
Wald test: 110.3 on 6 and 3003 DF,  p-value: < 2.2e-16

## compare

In [35]:
stargazer(M_OLS, M_Proxy, M_IV, M_2SLS,
  title="Regression result comparison",
  header=FALSE, 
  type="text",  
  omit.table.layout="n",
  digits=3, 
  intercept.bottom=TRUE, 
  column.labels=c("OLS","Proxy","IV","2SLS"),
  dep.var.labels.include = FALSE,
  model.numbers = FALSE,
  dep.var.caption="Dependent variable: lwage",
  model.names=FALSE,
  omit.stat=c("LL","ser","f"))

Regression result comparison
====================================================
                    Dependent variable: lwage
             ---------------------------------------
                OLS      Proxy      IV       2SLS
----------------------------------------------------
educ         0.074***  0.069***  0.132***  0.161***
              (0.004)   (0.005)   (0.049)   (0.049)

exper        0.084***  0.094***  0.107***  0.119***
              (0.007)   (0.010)   (0.021)   (0.021)

expersq      -0.002*** -0.003*** -0.002*** -0.002***
             (0.0003)  (0.0005)  (0.0003)  (0.0004)

black        -0.190*** -0.136*** -0.131**   -0.102*
              (0.018)   (0.026)   (0.053)   (0.053)

smsa         0.161***  0.153***  0.131***  0.117***
              (0.016)   (0.019)   (0.030)   (0.030)

south        -0.125*** -0.079*** -0.105*** -0.095***
              (0.015)   (0.018)   (0.023)   (0.023)

IQ                     0.003***
                        (0.001)

Constant     4.734***  4.483***  3.753***  3.272***
              (0.068)   (0.104)   (0.829)   (0.819)

----------------------------------------------------
Observations   3,010     2,061     3,010     3,010
R2             0.291     0.226     0.225     0.146
Adjusted R2    0.289     0.223     0.224     0.144
====================================================