In [2]:
%reset -f

In [3]:
import numpy             as np
import statsmodels.api   as sm
import pandas            as pd
import scipy.stats       as stats
import seaborn           as sns

from statsmodels.discrete.discrete_model  import MNLogit
from statsmodels.miscmodels.ordinal_model import OrderedModel
from statsmodels.iolib.summary2           import summary_col

In [4]:
df = pd.read_stata("drinks11.dta")

In [5]:
df = sm.add_constant(df)
df.columns

Index(['const', 'drinker', 'ednchs', 'edba', 'married', 'dchron', 'age40s',
       'age50s', 'lninc', 'lninc2'],
      dtype='object')

# (a)

In [6]:
df.head()

,const,drinker,ednchs,edba,married,dchron,age40s,age50s,lninc,lninc2
0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,10.217751,104.402428
1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,10.217751,104.402428
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,10.015000,100.300232
3,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,10.015000,100.300232
4,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,10.217751,104.402428

In [7]:
df.describe()

,const,drinker,ednchs,edba,married,dchron,age40s,age50s,lninc,lninc2
count,880.0,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000
mean,1.0,1.050000,0.087500,0.117045,0.790909,0.180682,0.259091,0.150000,10.260110,105.430733
std,0.0,0.566208,0.282727,0.321657,0.406891,0.384973,0.438385,0.357275,0.401322,8.224646
min,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.208450,67.378654
25%,1.0,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,10.015000,100.300232
50%,1.0,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,10.217751,104.402428
75%,1.0,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,10.529850,110.877739
max,1.0,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.351049,128.846329

## frequency count

In [8]:
df['drinker'].value_counts()

1.0    596
2.0    164
0.0    120
Name: drinker, dtype: int64

## percent table

In [9]:
df['drinker'].value_counts() / df['drinker'].count()

1.0    0.677273
2.0    0.186364
0.0    0.136364
Name: drinker, dtype: float64

# (b, d, e, f) ordered logit

## you cannot have intercept "constant"

In [10]:
X0 = df[['age40s', 'age50s', 'ednchs', 'edba', 'married', 'dchron']]
Y0 = df[['drinker']]

Model0 = OrderedModel(Y0, X0, dist='logit').fit(method='bfgs')
Model0.summary()

Optimization terminated successfully.
         Current function value: 0.835466
         Iterations: 25
         Function evaluations: 26
         Gradient evaluations: 26

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OrderedModel Results
==============================================================================
Dep. Variable:                drinker   Log-Likelihood:                -735.21
Model:                   OrderedModel   AIC:                             1486.
Method:            Maximum Likelihood   BIC:                             1525.
Date:                Thu, 04 Nov 2021
Time:                        02:51:29
No. Observations:                 880
Df Residuals:                     872
Df Model:                           8
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s        -0.3165      0.095     -3.334      0.001      -0.503      -0.130
age50s        -0.4709      0.121     -3.886      0.000      -0.708      -0.233
ednchs        -0.0649      0.144     -0.452      0.651      -0.346       0.217
edba          -0.1339      0.124     -1.078      0.281      -0.377       0.109
married        0.0071      0.098      0.073      0.942      -0.184       0.198
dchron         0.1323      0.106      1.253      0.210      -0.075       0.339
0.0/1.0       -1.2602      0.100    -12.662      0.000      -1.455      -1.065
1.0/2.0        0.7052      0.033     21.447      0.000       0.641       0.770
==============================================================================
"""

In [11]:
X1 = df[['age40s', 'age50s', 'ednchs', 'edba', 'married', 'dchron', 'lninc', 'lninc2']]
Y1 = df[['drinker']]

Model1 = OrderedModel(Y1, X1, dist='logit').fit(method='bfgs')
Model1.summary()

Optimization terminated successfully.
         Current function value: 0.829497
         Iterations: 28
         Function evaluations: 34
         Gradient evaluations: 34

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OrderedModel Results
==============================================================================
Dep. Variable:                drinker   Log-Likelihood:                -729.96
Model:                   OrderedModel   AIC:                             1480.
Method:            Maximum Likelihood   BIC:                             1528.
Date:                Thu, 04 Nov 2021
Time:                        02:51:29
No. Observations:                 880
Df Residuals:                     870
Df Model:                          10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s        -0.3428      0.096     -3.577      0.000      -0.531      -0.155
age50s        -0.4957      0.122     -4.066      0.000      -0.735      -0.257
ednchs        -0.0051      0.145     -0.035      0.972      -0.290       0.279
edba          -0.2608      0.132     -1.973      0.048      -0.520      -0.002
married       -0.0505      0.099     -0.508      0.612      -0.245       0.144
dchron         0.1485      0.106      1.401      0.161      -0.059       0.356
lninc         -0.2910      2.401     -0.121      0.904      -4.997       4.415
lninc2         0.0311      0.117      0.265      0.791      -0.199       0.261
0.0/1.0       -1.0395     12.277     -0.085      0.933     -25.103      23.024
1.0/2.0        0.7131      0.033     21.624      0.000       0.648       0.778
==============================================================================
"""

# compare two ordinal regression

In [12]:
summary0 = summary_col(
    [Model0, Model1], 
    stars=True, 
    float_format='%0.4f',
    model_names=['no inc','with inc'],
    info_dict={'sample size'   :lambda x: "{0:d}".format(int(x.nobs)),
               'log-likelihood':lambda x: "{:.2f}".format(x.llf),
               'log-likelihood pvalue':lambda x: "{:.2f}".format(x.llr_pvalue),
               'AIC'           :lambda x: "{:.2f}".format(x.aic),
               'BIC'           :lambda x: "{:.2f}".format(x.bic)})
print(summary0)

===========================================
                        no inc    with inc
-------------------------------------------
0.0/1.0               -1.2602*** -1.0395
                      (0.0995)   (12.2774)
1.0/2.0               0.7052***  0.7131***
                      (0.0329)   (0.0330)
age40s                -0.3165*** -0.3428***
                      (0.0949)   (0.0958)
age50s                -0.4709*** -0.4957***
                      (0.1212)   (0.1219)
dchron                0.1323     0.1485
                      (0.1056)   (0.1060)
edba                  -0.1339    -0.2608**
                      (0.1242)   (0.1322)
ednchs                -0.0649    -0.0051
                      (0.1436)   (0.1452)
lninc                            -0.2910
                                 (2.4010)
lninc2                           0.0311
                                 (0.1174)
married               0.0071     -0.0505
                      (0.0975)   (0.0994)
sample size           880        880
log-likelihood        -735.21    -729.96
log-likelihood pvalue 0.00       0.00
AIC                   1486.42    1479.91
BIC                   1524.66    1527.71
===========================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01

## test on "lninc" and "lninc2"

## here we use Wald likelihood ratio test : 
## $$\beta_7 = 0, \beta_8 = 0$$

## we have 10 coefficients in this model: 8 slopes and 2 thresholds (cutoff points 0/1 and 1/2)
## we have two constraints here : the 7th ($\beta_7$) and 8th ($\beta_8$) coefficients = 0

## hence, the constraint matrix has two rows 
## * the first row represent the first constraint : 7th coefficient = 0; hence, the 7th value is 1, others are 0
## * the second row represent the second constraint : 8th coefficient = 0; hence, the 8th value is 1, others are 0

In [31]:
A = np.array(([0,0,0,0,0,0,1,0,0,0],
              [0,0,0,0,0,0,0,1,0,0]))
Model1.wald_test(A)

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[10.46916776]], p-value=0.005329041537730793, df_denom=2>

## test on  "lninc2" : you can do a t-test

In [14]:
hypotheses = 'lninc2 = 0'
Model1.t_test(hypotheses)

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.0311      0.117      0.265      0.791      -0.199       0.261
==============================================================================

# (g, h, i) multinominal logit

In [15]:
X2 = df[['const', 'age40s', 'age50s', 'ednchs', 'edba', 'married', 'dchron']]
Y2 = df[['drinker']]

Model2 = MNLogit(Y2, X2, check_rank=True).fit()
Model2.summary()

Optimization terminated successfully.
         Current function value: 0.822908
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                drinker   No. Observations:                  880
Model:                        MNLogit   Df Residuals:                      866
Method:                           MLE   Df Model:                           12
Date:                Thu, 04 Nov 2021   Pseudo R-squ.:                 0.03041
Time:                        02:51:31   Log-Likelihood:                -724.16
converged:                       True   LL-Null:                       -746.87
Covariance Type:            nonrobust   LLR p-value:                 8.720e-06
==============================================================================
 drinker=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.2310      0.222      5.548      0.000       0.796       1.666
age40s        -0.3169      0.235     -1.347      0.178      -0.778       0.144
age50s        -0.2370      0.294     -0.805      0.421      -0.814       0.340
ednchs        -0.1722      0.341     -0.505      0.613      -0.840       0.496
edba           0.3093      0.332      0.931      0.352      -0.342       0.961
married        0.4917      0.238      2.063      0.039       0.025       0.959
dchron         0.6347      0.303      2.098      0.036       0.042       1.228
------------------------------------------------------------------------------
 drinker=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6047      0.253      2.387      0.017       0.108       1.101
age40s        -0.9260      0.295     -3.134      0.002      -1.505      -0.347
age50s        -1.6593      0.445     -3.725      0.000      -2.532      -0.786
ednchs        -0.1756      0.448     -0.392      0.695      -1.053       0.702
edba          -0.3632      0.426     -0.853      0.393      -1.197       0.471
married        0.1211      0.280      0.432      0.665      -0.428       0.670
dchron         0.5346      0.364      1.469      0.142      -0.179       1.248
==============================================================================
"""

## average marginal effects

In [16]:
Model2_me = Model2.get_margeff()

print(Model2_me.summary())

       MNLogit Marginal Effects
=====================================
Dep. Variable:                drinker
Method:                          dydx
At:                           overall
==============================================================================
 drinker=0      dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s         0.0518      0.027      1.945      0.052      -0.000       0.104
age50s         0.0626      0.034      1.867      0.062      -0.003       0.128
ednchs         0.0201      0.039      0.515      0.606      -0.056       0.097
edba          -0.0194      0.038     -0.509      0.611      -0.094       0.055
married       -0.0480      0.027     -1.784      0.074      -0.101       0.005
dchron        -0.0713      0.035     -2.045      0.041      -0.140      -0.003
------------------------------------------------------------------------------
 drinker=1      dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s         0.0450      0.038      1.186      0.235      -0.029       0.119
age50s         0.1511      0.055      2.724      0.006       0.042       0.260
ednchs        -0.0154      0.058     -0.265      0.791      -0.129       0.098
edba           0.1100      0.052      2.112      0.035       0.008       0.212
married        0.0900      0.037      2.449      0.014       0.018       0.162
dchron         0.0703      0.044      1.607      0.108      -0.015       0.156
------------------------------------------------------------------------------
 drinker=2      dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s        -0.0968      0.032     -2.997      0.003      -0.160      -0.033
age50s        -0.2137      0.054     -3.961      0.000      -0.319      -0.108
ednchs        -0.0047      0.052     -0.092      0.927      -0.106       0.096
edba          -0.0907      0.046     -1.978      0.048      -0.180      -0.001
married       -0.0420      0.030     -1.410      0.159      -0.100       0.016
dchron         0.0010      0.036      0.028      0.978      -0.070       0.072
==============================================================================

## test on "lninc" and "lninc2"

In [17]:
X3 = df[['const', 'age40s', 'age50s', 'ednchs', 'edba', 'married', 'dchron', 'lninc', 'lninc2']]
Y3 = df[['drinker']]

Model3 = MNLogit(Y3, X3, check_rank=True).fit()
Model3.summary()

Optimization terminated successfully.
         Current function value: 0.813611
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                drinker   No. Observations:                  880
Model:                        MNLogit   Df Residuals:                      862
Method:                           MLE   Df Model:                           16
Date:                Thu, 04 Nov 2021   Pseudo R-squ.:                 0.04136
Time:                        02:51:32   Log-Likelihood:                -715.98
converged:                       True   LL-Null:                       -746.87
Covariance Type:            nonrobust   LLR p-value:                 2.611e-07
==============================================================================
 drinker=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         67.1506     40.083      1.675      0.094     -11.410     145.711
age40s        -0.4010      0.238     -1.685      0.092      -0.868       0.066
age50s        -0.2978      0.297     -1.004      0.315      -0.879       0.283
ednchs        -0.0491      0.343     -0.143      0.886      -0.721       0.623
edba          -0.0537      0.354     -0.152      0.880      -0.748       0.641
married        0.4011      0.243      1.649      0.099      -0.076       0.878
dchron         0.6703      0.304      2.204      0.028       0.074       1.266
lninc        -13.6721      7.909     -1.729      0.084     -29.174       1.830
lninc2         0.7070      0.390      1.811      0.070      -0.058       1.472
------------------------------------------------------------------------------
 drinker=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.6973     56.868      0.171      0.865    -101.761     121.156
age40s        -1.0273      0.300     -3.423      0.001      -1.616      -0.439
age50s        -1.7305      0.450     -3.845      0.000      -2.613      -0.848
ednchs         0.0412      0.453      0.091      0.927      -0.846       0.929
edba          -0.8210      0.451     -1.822      0.069      -1.704       0.062
married       -0.0502      0.287     -0.175      0.861      -0.612       0.512
dchron         0.5888      0.367      1.606      0.108      -0.130       1.307
lninc         -3.0720     11.107     -0.277      0.782     -24.842      18.698
lninc2         0.2149      0.543      0.396      0.692      -0.848       1.278
==============================================================================
"""

In [18]:
A = np.array(([0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0], 
              [0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0],
              [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0], 
              [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1]))

Model3.wald_test(A)

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[526.2662894]], p-value=1.3949227382088514e-112, df_denom=4>

# (j) multinomial logit with a linear term in "lninc"

In [19]:
X4 = df[['const', 'age40s', 'age50s', 'ednchs', 'edba', 'married', 'dchron', 'lninc']]
Y4 = df[['drinker']]

Model4 = MNLogit(Y4, X4, check_rank=True).fit()
Model4.summary()

Optimization terminated successfully.
         Current function value: 0.816920
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                drinker   No. Observations:                  880
Model:                        MNLogit   Df Residuals:                      864
Method:                           MLE   Df Model:                           14
Date:                Thu, 04 Nov 2021   Pseudo R-squ.:                 0.03746
Time:                        02:51:33   Log-Likelihood:                -718.89
converged:                       True   LL-Null:                       -746.87
Covariance Type:            nonrobust   LLR p-value:                 5.912e-07
==============================================================================
 drinker=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.7459      2.623     -1.809      0.070      -9.887       0.395
age40s        -0.3462      0.236     -1.466      0.143      -0.809       0.117
age50s        -0.2705      0.295     -0.917      0.359      -0.849       0.308
ednchs        -0.0862      0.343     -0.252      0.801      -0.758       0.585
edba           0.1148      0.344      0.333      0.739      -0.560       0.790
married        0.3842      0.244      1.576      0.115      -0.094       0.862
dchron         0.6611      0.304      2.178      0.029       0.066       1.256
lninc          0.5954      0.261      2.282      0.023       0.084       1.107
------------------------------------------------------------------------------
 drinker=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -10.1579      3.364     -3.019      0.003     -16.752      -3.564
age40s        -0.9987      0.299     -3.342      0.001      -1.584      -0.413
age50s        -1.7374      0.449     -3.873      0.000      -2.617      -0.858
ednchs         0.0115      0.452      0.025      0.980      -0.875       0.898
edba          -0.7237      0.444     -1.631      0.103      -1.594       0.146
married       -0.0555      0.288     -0.193      0.847      -0.619       0.508
dchron         0.5868      0.366      1.603      0.109      -0.131       1.304
lninc          1.0680      0.333      3.207      0.001       0.415       1.721
==============================================================================
"""

## average marginal effects

In [20]:
Model4_me = Model4.get_margeff()

print(Model4_me.summary())

       MNLogit Marginal Effects
=====================================
Dep. Variable:                drinker
Method:                          dydx
At:                           overall
==============================================================================
 drinker=0      dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s         0.0554      0.027      2.088      0.037       0.003       0.107
age50s         0.0660      0.033      1.983      0.047       0.001       0.131
ednchs         0.0076      0.039      0.196      0.845      -0.069       0.084
edba           0.0067      0.039      0.171      0.864      -0.070       0.083
married       -0.0338      0.027     -1.239      0.215      -0.087       0.020
dchron        -0.0744      0.035     -2.145      0.032      -0.142      -0.006
lninc         -0.0798      0.029     -2.705      0.007      -0.138      -0.022
------------------------------------------------------------------------------
 drinker=1      dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s         0.0476      0.038      1.253      0.210      -0.027       0.122
age50s         0.1534      0.056      2.763      0.006       0.045       0.262
ednchs        -0.0197      0.059     -0.338      0.736      -0.134       0.095
edba           0.1123      0.054      2.077      0.038       0.006       0.218
married        0.0885      0.037      2.365      0.018       0.015       0.162
dchron         0.0695      0.044      1.587      0.112      -0.016       0.155
lninc         -0.0029      0.042     -0.070      0.944      -0.086       0.080
------------------------------------------------------------------------------
 drinker=2      dy/dx    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age40s        -0.1029      0.032     -3.177      0.001      -0.166      -0.039
age50s        -0.2194      0.054     -4.074      0.000      -0.325      -0.114
ednchs         0.0121      0.052      0.234      0.815      -0.090       0.114
edba          -0.1190      0.047     -2.508      0.012      -0.212      -0.026
married       -0.0547      0.030     -1.808      0.071      -0.114       0.005
dchron         0.0049      0.036      0.136      0.891      -0.066       0.075
lninc          0.0827      0.036      2.282      0.022       0.012       0.154
==============================================================================

In [32]:
!rm -rf W11_Python.html
!jupyter nbconvert --to html W11_Python.ipynb

[NbConvertApp] Converting notebook W11_Python.ipynb to html
[NbConvertApp] Writing 641867 bytes to W11_Python.html