# show my present work directory

In [1]:
!pwd

/Users/ning/Data/Dropbox/Working_Directory/Tex_MD/Teaching/tutorial/6002/W1/2021S2

---
# show all the file I have in the current folder

In [2]:
!ls

Ecmt6002 (2021S2) Tutorial 1.pdf W1_R.Rmd
SLEEP75.DTA                      W1_R.ipynb
SLEEP75.csv                      W1_Stata.ipynb
W1_Python.ipynb

---
# check whether my Anaconda3 works

In [3]:
!conda info --all

     active environment : base
    active env location : /opt/homebrew/Caskroom/miniforge/base
            shell level : 1
       user config file : /Users/ning/.condarc
 populated config files : /opt/homebrew/Caskroom/miniforge/base/.condarc
          conda version : 4.10.3
    conda-build version : not installed
         python version : 3.9.6.final.0
       virtual packages : __osx=11.5.2=0
                          __unix=0=0
                          __archspec=1=arm64
       base environment : /opt/homebrew/Caskroom/miniforge/base  (writable)
      conda av data dir : /opt/homebrew/Caskroom/miniforge/base/etc/conda
  conda av metadata url : None
           channel URLs : https://conda.anaconda.org/conda-forge/osx-arm64
                          https://conda.anaconda.org/conda-forge/noarch
          package cache : /opt/homebrew/Caskroom/miniforge/base/pkgs
                          /Users/ning/.conda/pkgs
       envs directories : /opt/homebrew/Caskroom/miniforge/base/envs
                          /Users/ning/.conda/envs
               platform : osx-arm64
             user-agent : conda/4.10.3 requests/2.26.0 CPython/3.9.6 Darwin/20.6.0 OSX/11.5.2
                UID:GID : 501:20
             netrc file : None
           offline mode : False

# conda environments:
#
base                  *  /opt/homebrew/Caskroom/miniforge/base
opencl                   /opt/homebrew/Caskroom/miniforge/base/envs/opencl
pytorch                  /opt/homebrew/Caskroom/miniforge/base/envs/pytorch
tensorflow               /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow

sys.version: 3.9.6 | packaged by conda-forge | (defau...
sys.prefix: /opt/homebrew/Caskroom/miniforge/base
sys.executable: /opt/homebrew/Caskroom/miniforge/base/bin/python
conda location: /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/conda
conda-build: None
conda-env: /opt/homebrew/Caskroom/miniforge/base/bin/conda-env
user site dirs:

CIO_TEST: <not set>
CONDA_DEFAULT_ENV: base
CONDA_EXE: /opt/homebrew/Caskroom/miniforge/base/bin/conda
CONDA_PREFIX: /opt/homebrew/Caskroom/miniforge/base
CONDA_PROMPT_MODIFIER: (base)
CONDA_PYTHON_EXE: /opt/homebrew/Caskroom/miniforge/base/bin/python
CONDA_ROOT: /opt/homebrew/Caskroom/miniforge/base
CONDA_SHLVL: 1
CURL_CA_BUNDLE: <not set>
INFOPATH: /opt/homebrew/share/info:
MANPATH: /opt/homebrew/share/man::
PATH: /opt/homebrew/Caskroom/miniforge/base/bin:/opt/homebrew/Caskroom/miniforge/base/condabin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/opt/X11/bin:/Library/Apple/usr/bin
REQUESTS_CA_BUNDLE: <not set>
SSL_CERT_FILE: <not set>

---
# clear the memory of your computer

In [4]:
%reset -f

# load the relevant Python package 
* ### *pandas* for data manipulation; 
* ### *statsmodels* for regression;

In [5]:
import pandas            as pd
import statsmodels.api   as sm
import matplotlib.pyplot as plt

--- 
# Question 4

## load data

In [8]:
sleep_table = pd.read_stata('SLEEP75.dta')

## check the head of your table

In [9]:
sleep_table.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0.0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500.0,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500.0,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.0,0.0,12,42500.0,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500.0,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

## set up variables in X

In [10]:
X = sleep_table[['totwrk', 'educ', 'age']]

In [11]:
X.head()

   totwrk  educ  age
0    3438    12   32
1    5020    14   31
2    2815    17   44
3    3786    12   30
4    2580    14   64

## find Y variable

In [12]:
Y = sleep_table[['sleep']]

In [13]:
Y.head()

   sleep
0   3113
1   2920
2   2670
3   3083
4   3448

## add the intercept into your regression model

In [14]:
X = sm.add_constant(X)

/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [15]:
X.head()

   const  totwrk  educ  age
0    1.0    3438    12   32
1    1.0    5020    14   31
2    1.0    2815    17   44
3    1.0    3786    12   30
4    1.0    2580    14   64

## regression

In [16]:
reg1 = sm.OLS(Y, X)

result1 = reg1.fit()
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sleep   R-squared:                       0.113
Model:                            OLS   Adj. R-squared:                  0.110
Method:                 Least Squares   F-statistic:                     29.92
Date:                Thu, 19 Aug 2021   Prob (F-statistic):           3.28e-18
Time:                        11:13:49   Log-Likelihood:                -5263.1
No. Observations:                 706   AIC:                         1.053e+04
Df Residuals:                     702   BIC:                         1.055e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3638.2453    112.275     32.405      0.000    3417.810    3858.681
totwrk        -0.1484      0.017     -8.888      0.000      -0.181      -0.116
educ         -11.1338      5.885     -1.892      0.059     -22.687       0.420
age            2.1999      1.446      1.522      0.129      -0.639       5.038
==============================================================================
Omnibus:                       68.731   Durbin-Watson:                   1.943
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              185.551
Skew:                          -0.496   Prob(JB):                     5.11e-41
Kurtosis:                       5.308   Cond. No.                     1.66e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.66e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [19]:
!rm -rf W1_Python.html
!jupyter nbconvert --to html W1_Python.ipynb

[NbConvertApp] Converting notebook W1_Python.ipynb to html
[NbConvertApp] Writing 584958 bytes to W1_Python.html